html
    head
        title PeacePartner | #{name}
        link(rel='stylesheet', href='/css/style.css', type='text/css')
        link(rel='stylesheet', href=extrastyle type='text/css')
    body
        main
            div#firsthalf
            div#secondhalf
            div#container
                div
                    | !{content}
        script(src=extrascript,type="module")
