doctype html
html
    head
        title PeacePartner | #{name}
        link(rel='stylesheet', href='/css/style.css', type='text/css')
    body
        main
            div#firsthalf
            div#secondhalf
            div#container
                div