html
    head
        link(rel='stylesheet', href='/css/style.css', type='text/css')
    body
        h3 Profile of: #{username}
        p Full name: #{fullname}
        p Persons to accomodate: #{accommodatenum}

